/* TO-DO */
* {
    box-sizing: border-box; /* ensures padding/border is included in width */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.site-title {
    text-align: center;
    background-color: #2B3D4E;
    padding: 30px;
    color: white;
}

.search-bar {
    display: flex;
    background-color: #32485E;
    padding: 15px;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.movies-container {
    background-color: #F4F4F4;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    margin: 0;
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 8px;
    flex: 1 1 250px; /* flex-grow | flex-shrink | base width */
    max-width: 300px; /* optional max width */
    min-width: 200px; /* optional min width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin: 0px;
    padding-bottom: 15px;
}

.movie-card img {
    border-radius: 8px;
    width: 200px;
    height: 300px;
    margin: 15px 60px;
}

.movie-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.movie-card p {
    margin: 5px;
    font-size: 14px;
    color: #555
    ;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: #F4F4F4;
}

.pg-btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #2B3D4E;
    color: white;
    cursor: pointer;
}

.pg-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pg-btn:hover:enabled {
    background-color: #1A2733;
}

